{% extends "template.html" %}

{% load staticfiles %}
 
{% block morehead%}
<script src="{% static 'require.js'%}" data-main="/static/common"></script>
{% endblock %}

{% block content %}
<h1>Settings</h1>
<div class="container">
<form role="form" method="POST" action="{% url 'views.configuration.change' %}">

	<div class="panel panel-default">
	  <div class="panel-heading">Workload-Generator</div>
	  <div class="panel-body">
	    <div class="form-group">
          <label for="wlgenHost">Host</label>
          <input type="text" class="form-control" id="wlgenHost" name="wlgenHost" value="{{wlgen_host}}" />
	    </div>
	    <div class="form-group">
          <label for="wlgenWebPort">Web-Port</label>
          <input type="text" class="form-control" id="wlgenWebPort" name="wlgenWebPort" value="{{wlgen_webport}}" />
        </div>
        <div class="form-group">
          <label for="wlgenSocketPort">Socket-Port</label>
          <input type="text" class="form-control" id="wlgenSocketPort" name="wlgenSocketPort" value="{{wlgen_socketport}}" />
        </div>
	  </div>
	</div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Change</button>
    </div>
    
</form>
</div>

{% endblock %}
