{% extends "template.html" %}

{% load staticfiles %}

{% block morehead %}
<script src="{% static "require.js" %}" data-main="/static/expstats"></script> 
{% endblock %}


{% block content %}
<div class="row">
  <div class="container col-sm-6">
    <div id="allonFlatChartBox">  </div>
  </div>
  <div class="container col-sm-6">
    <div id="allonSineChartBox">  </div>
  </div>
</div>

<div class="row">
  <div class="container col-sm-6">
    <div id="popNooptFlatChartBox">  </div>
  </div>
  <div class="container col-sm-6">
    <div id="popNooptSineChartBox">  </div>
  </div>
</div>


<div class="row">
  <div class="container col-sm-6">
    <div id="popOptFlatChartBox">  </div>
  </div>
  <div class="container col-sm-6">
    <div id="popOptSineChartBox">  </div>
  </div>
</div>

{% endblock %}