{% extends "template.html" %}

{% load staticfiles %}
 
{% block morehead%}
<script src="{% static "require.js" %}" data-main="/static/tasks.js"></script>
{% endblock %}

{% block content %}
<h1>Master Tasks</h1>
<div class="container panel">
    <div id='taskTable'></div>
</div>



{% endblock %}
