{% extends "template.html" %}

{% load staticfiles %}

{% block morehead %}
<script src="{% static "require.js" %}" data-main="/static/search"></script> 
{% endblock %}

{% block content %}
<h1>Search Source Videos</h1>
<div class="container">
	<form id="searchForm" role="form" class="form-horizontal" onsubmit="$('#submitSearch').click(); return false;">
	    <div class="form-group">
	      <label for="namePatternInput" class="col-sm-2 control-label">Name Pattern</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="namePatternInput" placeholder="name (wildcard with *)" />
	      </div>
	    </div>
	    	    
	    <div class="form-group">
	    
	       <label for="videoCodecSelect" class="col-sm-2 control-label">Video Codec</label>
           <div class="col-sm-4">
             <select class="form-control" id="videoCodecSelect">
                <option value="" default>Set Filter</option>
                {% for codec in codecs.video %}
                <option>{{codec}}</option>
                {% endfor %}
             </select>
           </div>
	       
	       <label for="audioCodecSelect" class="col-sm-2 control-label">Audio Codec</label>
	       <div class="col-sm-4">
	         <select class="form-control" id="audioCodecSelect">
                <option value="" default>Set Filter</option>
                {% for codec in codecs.audio %}
                <option>{{codec}}</option>
                {% endfor %}
             </select>
	       </div>
	       
        </div>
	    <div class="form-group">
	      <div class="col-sm-offset-2 col-sm-10">
	        <button id="submitSearch" type="button" class="btn btn-default">Search</button>
	      </div>
	    </div>
	</form>
</div>
<hr />
<div class="container">
    <div id="searchResults">
    </div>
    <div id="searchResultPaginator">
    </div>
</div>

{% endblock %}
