{% extends "template.html" %}

{% load staticfiles %} 

{% block morehead %}

<script src="{% static 'highcharts.js' %}"></script>
<script src="{% static 'highcharts-more.js' %}"></script>
<script src="{% static 'heatmap.js' %}"></script>
<script src="{% static "underscore-min.js" %}"></script>
<script src="{% static "backbone-min.js" %}"></script>
<script src="{% static "moment.min.js" %}"></script>
<script src="{% static "models.js" %}"></script>
<script src="{% static "charts.js" %}"></script>
<script type="text/javascript">

$(function(){
   
   {%autoescape off%}
   var _statData = {{stats}};
   var _slaveNames = {{slaveNames}};
   var _zoneNames = {{zoneNames}};
   {%endautoescape%}
   
   var statValues = new $.videoplatform.models.TaskStatValues(_statData);
   
   var points = [];
   statValues.each(function(stat) {
       points.push({
           id : stat.get('id'),
           name : stat.get('name'),
           x : stat.get('zone'),
           y : stat.get('slave'),
           value : stat.get('tasks'),
       });
   });
   
   $('#task_map_chart').highcharts({
       chart: {
           type: 'heatmap',
           marginTop: 80,
           marginBottom: 40
       },
       title: {
           text: 'Running Tasks per Slave'
       },
       xAxis : {
           categories: _zoneNames,
           title: {
               text:'Zones'
           },
           opposite : true,
       },
       yAxis: {
           categories: _slaveNames,
           title: {
               text:'Slaves'
           }
       },
       colorAxis: {
           min: 0,
           max: {{maxTasks}},
           minColor: Highcharts.getOptions().colors[0],
           maxColor: Highcharts.getOptions().colors[3]
       },
       legend: {
           align: 'right',
           layout: 'vertical',
           margin: 0,
           verticalAlign: 'top',
           y: 25,
           symbolHeight: 320
       },
       tooltip: {
       formatter: function () {
           return '<b>' + this.point.name + ' has ' + this.point.value + ' running tasks.</b>';
       },
       },
       series:[{
           borderWidth:1,
           data:points,
           dataLabels: {
               enabled: true,
               color: 'black',
               style: {
                   textShadow: 'none',
                   HcTextStroke: null
               }
           }
       }]
   });
   
});

</script>

{% endblock %}

{% block content %}
<h1>Task Map</h1>

<div class="container panel">
	<div id='task_map_chart'></div>
</div>


{% endblock %}
