{% load staticfiles %}

<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript">
    //
    // List of URLS to be used by backbone and everyone else.
    // It's concentrated here so every component can make use of it.
    // Plus it is rendered using Django's reverse URL mechanism!
    // idea from http://pragmatic-backbone.com/models-collections-and-data

    window.urls = (function() {

        var URLs = {

            searchVideo : function() {
                return "{% url 'views.video.doSearch' %}";
            },
            streamVideo : function(name, variant) {
                return "{% url 'views.video.requestVariant' %}?redirect=False&name="
                        + name + "&variant=" + variant + "&download=1";
            },
            requestVideo : function(name, profile, qualityMode, redirect) {
                return "{% url 'views.video.requestVideo' %}?name=" + name
                        + "&profile=" + profile + "&qualityMode=" + qualityMode
                        + "&redirect=" + redirect;
            },
            dashboardSlaveStatus : function() {
                return "{% url 'views.statistics.getSlaveStatus' %}";
            },
            dashboardSetSlaveStatus : function() {
                return "{% url 'views.statistics.setSlaveStatus' %}";
            },
            dashboardSlaveBlink : function() {
                return "{% url 'views.statistics.slaveBlink' %}";
            },
            dashboardClusterState : function() {
                return "{% url 'views.statistics.getClusterState' %}";
            },
            dashboardChangeStrategy : function(strategyName) {
                return "{% url 'views.opt.changeStrategy' %}?optStrategy="
                        + strategyName;
            },
            tasksList : function() {
                return "{% url 'views.tasks.listTasks' %}";
            },
            masterTaskList : function() {
                return "{% url 'views.tasks.masterTaskList' %}";
            },
            taskDetails : function(taskId) {
                return "{% url 'views.tasks.taskDetails' %}?taskId=" + taskId;
            },
            removeAllTasks : function() {
                return "{% url 'views.tasks.removeAllTasks' %}";
            },
        };

        // URL Accessor
        return function(type) {
            return URLs[type] ? URLs[type].apply(this, [].slice.call(arguments,
                    1)) : undefined;
        };
    })();
</script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
  rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
<!--   <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}" /> -->
  <link rel="stylesheet" href="{% static 'dashboard.css'%}">

  {% block morehead %} 
  {% endblock %}

</head>
<body>
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand"><a href="/home"><img src="{% static 'haec_logo.jpg' %}" style="max-width:80px; margin-top: -6px;" /></a> Video Platform</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
				    <li class="dropdown">
				      <a href="#" data-toggle="dropdown">Home<span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
				        <li><a href="{% url 'views.home.showHome' %}">System Status</a></li>
				        <li><a href="{% url 'views.home.showDashboard' %}">Dashboard</a></li>
				      </ul>
				    </li>
				    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistics<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'views.statistics.showStatistics' %}">System Statistics</a></li>
                        <li><a href="{% url 'views.statistics.showSlaveList' %}">Slave List</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Migration<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url 'views.opt.showStatistics' %}">Statistics</a></li>
                          <li><a href="{% url 'views.opt.showOverview' %}">Settings</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="{% url 'views.tasks.showMasterTasks' %}">Tasks</a>
                    </li>
                    
					<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Video<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="{% url 'views.video.showSearch' %}">Search</a></li>
			            <li><a href="{% url 'views.video.showVideoStats' %}">Statistics</a></li>
			          </ul>
			        </li>
			        <li><a href="{% url 'views.configuration.show' %}">Configure</a></li>
				</ul>
				{% block morenavbar %}
				
				{% endblock %}
			</div>
		</div>
	</div>
	<div class="container-fluid theme-showcase" role="main">
	
	{% block content %} 
	
	{% endblock %}
	</div>
</body>
</html>