{% extends "template.html" %} 

{% load staticfiles %} 

{% block morehead %}
<link href="//vjs.zencdn.net/4.6/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.6/video.js"></script>
<script src="{% static "require.js" %}" data-main="/static/videoDetails" ></script>
{% endblock %}

{% block content %}

<div class="container panel" id='watchVideoContainer'>
    <div class="panel-haeding h2">Watch Video</div>
    
    <video id="videoContainer" class="video-js vjs-default-skin"
      controls preload="auto" width="640" height="264"
      poster="http://video-js.zencoder.com/oceans-clip.png">
    </video>
</div>

<h1>Video Details</h1>
<div class="container panel">
  <div class="panel-heading h2">Original</div>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{origin.name}} ({{origin.fname}})</dd>
    <dt>Duration</dt>
    <dd>{{origin.duration}} seconds</dd>
    <dt>Codec</dt>
    <dd>{{origin.audio_codec}}/{{origin.video_codec}}</dd>
  </dl>
  <button type="button" class="btn btn-primary" id='watchOriginalVideo' 
          data-videoname="{{origin.name}}" data-videovariant="" data-videoformat="{{origin.format}}">Watch</button>
  <a href="{% url 'views.video.requestVariant' %}?name={{origin.name}}&variant={{origin.variant}}&download=True">
        <button type="button" class="btn btn-primary">Download</button>
  </a>
</div>
<div class="container panel">
  <div class="panel-heading h2">Variants</div>
  {% if transcoded|length > 0 %}
  <table id="videoTranscodes" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Video Codec</th>
            <th>Audio Codec</th>
            <th>Size</th>
            <th>Bitrate (fps)</th>
            <th>Format</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for vid in transcoded %}
            <tr>
                <td>{{vid.video_codec}}</td>
                <td>{{vid.audio_codec}}</td>
                <td>{{vid.width}}x{{vid.height}}</td>
                <td>{{vid.bitrate}} ({{vid.fps}})</td>
                <td>{{vid.format}}</td>
                <td>
                <button type="button" class="btn btn-primary" id='watchVid{{vid.id}}' 
                        data-videoname="{{vid.name}}" data-videovariant="{{vid.variant}}" 
                        data-videoformat="{{vid.format}}">Watch</button>
                <a href="{% url 'views.video.requestVariant' %}?name={{vid.name}}&variant={{vid.variant}}&download=True">
                    <button type="button" class="btn btn-primary">Download</button>
                </a>
                </td>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  No transcoded videos available.
  {% endif %}
</div>

<div class="container panel">
  <div class="panel-heading h2">Request Video Instance</div>
  <form id="transcodeForm" role="form" class="form-horizontal" onsubmit="$('#submitRequest').click(); return false;">
        <div class="form-group">
            <label for="profileSelect" class="col-sm-2 control-label">Profile</label>
            <div class="col-sm-6">
                <select class="form-control" id="profileSelect">
                  {% for prof in profiles %}
                  <option value="{{prof.id}}">{{prof.name}}</option>
                  {% endfor %}                
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Quality Mode</label>
            <div class="col-sm-6">
            {% for qualityMode in qualityModes %}
            <div class="radio">
			  <label>
			    <input type="radio" name="qualityMode"
			     {% if qualityMode.0 == 'normal' %}checked="checked"{%endif%}
			     id="{{qualityMode.0}}" value="{{qualityMode.0}}">
			    <b>{{qualityMode.0}}</b> <small>{{qualityMode.1}}</small>
			  </label>
			</div>
			{% endfor %}
			</div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="submitRequest" class="btn btn-default">
              <span id="transcodeSubmitButtonIcon"></span>Request Video
            </button>
          </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 well well-sm" id="transcodingRunningInfo">
             <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
        </div>
    </form>
</div>


{% endblock %}
