{% extends "template.html" %} 

{% load staticfiles %} 

{% block morehead%}
<script src="{% static 'require.js' %}" data-main="/static/videostats"></script>
{% endblock %}

{% block content %}
<h1>Video Statistics</h1>

<script type="text/javascript">
var _hitDataLastMinute = {{lastminute}};
var _hitDataLast30Minutes = {{last30minutes}};
var _hitDataLastHour = {{lasthour}};
var _hitDataTotalHits = {{total}};
</script>
<div class="panel container">
	<div class="panel-heading h2">Video Popularity</div>
	<div class="row">
		<div class="col-sm-6" id="lastMinuteVideoPopularityChart"></div>
		<div class="col-sm-6" id="last30MinuteVideoPopularityChart"></div>
	</div>
	<div class="row">
        <div class="col-sm-6" id="lastHourVideoPopularityChart"></div>
        <div class="col-sm-6" id="totalVideoPopularityChart"></div>
    </div>
</div>


{% endblock %}
