{% extends "template.html" %}

{% load staticfiles %}

{% block morehead%}
<link rel="stylesheet" type="text/css" href="{% static 'backgrid-select-all.min.css' %}" />
<script src="{% static 'require.js' %}" data-main="/static/slavelist"></script>
{% endblock %} 

{% block content %}

<h1>Dashboard</h1>
<div class="row">
    <div class="col-sm-12">
		<div class="panel" id="dashboard">
			<div class="panel-heading h2">Slave Overview</div>
			<div id='slaves-table'></div>
			<div class="btn-group">
				<button id="btn_turnAllOn" type="button" class="btn btn-default">Turn On</button>
				<button id="btn_turnAllOff" type="button" class="btn btn-default">Turn Off</button>
				<button id="btn_shutAllDown" type="button" class="btn btn-default">Shutdown</button>
				<button id="btn_blinkAll" type="button" class="btn btn-default">Led Blink</button>
				<button id="btn_ledOffAll" type="button" class="btn btn-default">Led Off</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}
