{% extends "template.html" %}
{% load staticfiles %}
{% load humanize %}
{% block morehead %}
<script type="text/javascript">
  {%autoescape off%}
  {%endautoescape%}
</script>
<script src="{% static 'require.js' %}" data-main="/static/common"></script>
{% endblock %} 

{% block content %}

<div class="row">
<h2>Static Values</h2>
<div class="container col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Slave Boot Times</h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
      {% for k,v in slaveBootTimes.items %}
          <tr><td>{{k}}</td><td>{{ v|floatformat:2|intcomma }} seconds</td>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
</div>

{% endblock %}
