{% extends "template.html" %} 
{% load staticfiles %}

{% block morehead %}

<link rel="stylesheet" href="{% static 'sparqlcolors.css'%}" />

<script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script type="text/javascript">

    
 {% autoescape off %}
 var _initialPowerValues = {{powervalues}};
 var _initialAvgCpuUsage = {{avg_cpu_usage}};
 var _initialNwOut = {{sum_network_out}};
 var _wlgenWebUrl = "{{wlgenWebUrl}}"; 
 var _wlgenSocketUrl = "{{wlgenSocketUrl}}";
 var _initialClusterState = {{initialClusterState}};
 var _websocketUrl= "{{websocketUrl}}";
 var _bufferedEvents = {{bufferedEvents}};
 {%endautoescape%}
    
</script>


<script id="demo-situation" type="text/template">
<div>
<pre>
<span class="sp-keyword">SELECT</span><span class="sp-ws"> </span><span
    class="sp-var">?u</span><span class="sp-ws"> </span><span
    class="sp-keyword">WHERE</span><span class="sp-ws"> </span><span
    class="sp-punc">{</span><span class="sp-ws"> </span>
<span class="sp-ws">   </span><span class="sp-var">?h</span><span
    class="sp-ws"> </span><span class="sp-punc">a</span><span
    class="sp-ws"> </span><span class="sp-prefixed">:HAECCubie</span><span
    class="sp-punc">.</span><span class="sp-ws">  </span>
<span class="sp-ws">   </span><span class="sp-var">?h</span><span
    class="sp-ws"> </span><span class="sp-prefixed">:hasResources</span><span
    class="sp-ws"> </span><span class="sp-prefixed">:haecbox_NextOccupiedTranscodingResources</span><span
    class="sp-punc">.</span><span class="sp-ws"> </span>
<span class="sp-ws">   </span><span class="sp-var">?u</span><span
    class="sp-ws"> </span><span class="sp-punc">a</span><span
    class="sp-ws"> </span><span class="sp-prefixed">:IsLoggingInUser</span><span
    class="sp-punc">.</span><span class="sp-ws">  </span>
<span class="sp-ws">   </span><span class="sp-var">?u</span><span
    class="sp-ws"> </span><span class="sp-punc">a</span><span
    class="sp-ws"> </span><span class="sp-prefixed">:HighPriorityUser</span><span
    class="sp-punc">.</span>
<span class="sp-ws">   </span><span class="sp-var">?u</span><span
    class="sp-ws"> </span><span class="sp-punc">a</span><span
    class="sp-ws"> </span><span class="sp-prefixed">:FrequentTranscodingUser</span><span
    class="sp-punc">.</span>
<span class="sp-ws">   </span><span class="sp-var">?u</span><span
    class="sp-ws"> </span><span class="sp-punc">a</span><span
    class="sp-ws"> </span><span class="sp-prefixed">:RareTasteUser</span><span
    class="sp-punc">.</span>
<span class="sp-punc">}</span>
</pre>
</div>
</script>

<script id="templateSituationEventDetails" type="text/template">
<div id="situationEventDetailsBox">
<%=date%><br />
<strong><%=details%></strong>
 <table class="table">
  <thead>
   <tr>
    <th>Context Recognition</th>
    <th>Situation Dependent Analysis</th>
    <th>Adaptation</th>
   </tr>
  </thead>
  <tbody>
   <tr>

    {# ##### Event ##### #}
    <td><p>Retrieve all users
     <ul>
      <li>currently logging in</li>
      <li>that are of high priority</li>
      <li>usually request rather unpopular videos</li>
     </ul>
     when there are not enough resources.
    </p>
    </td>
    {# ##### Situation/Context ##### #}
    <td>Suggestion to switch on additional boards and raising cooldown timer.
    </td>
    {# ##### Reaction ##### #}
    <td>Videoplatform adapts video popularity threshold</b>.
    </td>
   </tr>
   <tr>
     <td>
        <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" 
            data-target="#situationDetailsBox" aria-expanded="false" aria-controls="situationDetailsBox">Details</button>
     </td>
     <td>
        <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" 
            data-target="#contextDetailsBox" aria-expanded="false" aria-controls="contextDetailsBox">Details</button>
     </td>
     <td>
        <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" 
            data-target="#reactionDetailsBox" aria-expanded="false" aria-controls="reactionDetailsBox">Details</button>
     </td>
   </tr>
  </tbody>
 </table>
 <div class="collapse" id="situationDetailsBox">
    <div class="col-sm-4">
      <h4>Query</h4>
      <%=situationQuery%>
      <h4>Retrieved User IDs</h4>
      <ul>
        <%=contextUserIds%>
      </ul>
    </div>
 </div>
 <div class="collapse" id="contextDetailsBox">
      <h2>Details for B03</h2>
   
  <div class="row">
   <center>
    <h4>Precomputed PMC Results: Strategy Comparison</h4>
    <div id="pmcPlotBox"></div>
    <p>Suggestion to switch on additional boards and raising cooldown timer.</p>
    <p>Energy-Utility Quantile: <span style="font-family: monospace">min{e : Pr>p (  "!sla_violation" U<=e "3 successful" )}</span></p>
<p>Minimal Energy for 3 utility without excessive premium user latency</p>
   </center>
  </div>
 </div>
 <div class="collapse" id="reactionDetailsBox">
    <h4>Video Platform Adaptation</h4>
    The Migration Model is changed, depending on the number of users to provide 
    less popular videos.<br />
    Effect: boards are turned on.
    <dl class="dl-horizontal">
      <dt>Loggedin Users</dt><dd><%=loggedInUsers%></dd>
      <dt>Popularity Threshold </dt><dd><i>before</i> <%=beforeThreshold%> <br /><i>after</i> <%=afterThreshold%></dd>
    </dl>
 </div>
</div>
</script>
<script id="templateGeneralEventDetails" type="text/template">
<div>
 Date: <%=date%><br />
 <%=details%>
<div>
</script>

<script id="templateTranscodingEventDetails" type="text/template">
<div class="col-sm-5">
 Date: <%=date%><br />
 Transcoding started using THEATRE (B01).
<br />
<h3>Transcoding Settings</h3>
<table class="table table-condensed">
  <tr><td>Location</td><td><%=location%></td></tr>
  <tr><td>Estimated Time</td><td><%=estimatedTime%></td></tr>
</table>

<h3>Explanation for ILP <i>Scaling_scale_demo.lp</i></h3>

<h4>Objective function</h4>

<ul>
    <li>coeffecients associated with impact for running implementation on certain host</li>
    <li>hosts (cubieboards) have short-cuts (e.g. R1)</li>
</ul>

<h4>Constraints</h4>

<ul><li>Hardware and Software constraints encoded in equation of ILP</li></ul>

<h4>Decision</h4>

<ul><li>Implementation of Handbrake is chosen to run on R1</li></ul>
</div>

<div class="col-sm-10">

<h3>ILP Details</h3>

<pre><code class="hljs lp">\* Problem: Scaling.scale *\

<span class="hljs-keyword">Minimize</span>
<span class="hljs-label"> objective:</span>
 + <span class="hljs-number">4366.46927513147</span> b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 + <span class="hljs-number">3242.5665031056</span> b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + <span class="hljs-number">2737.09259981993</span> b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 + <span class="hljs-number">0</span> usage#R1#<span class="hljs-number">141.76</span>.<span class="hljs-number">65.160</span>#load1 + <span class="hljs-number">0</span> usage#R1#<span class="hljs-number">141.76</span>.<span class="hljs-number">65.160</span>#load5
 + <span class="hljs-number">0</span> usage#R1#<span class="hljs-number">141.76</span>.<span class="hljs-number">65.160</span>#load15 + <span class="hljs-number">0</span> usage#R1#core0#L1_size
 + <span class="hljs-number">0</span> usage#R1#core0#L2_size + <span class="hljs-number">0</span> usage#R1#core0#cpu_time
 + <span class="hljs-number">0</span> usage#R1#core0#numCores + <span class="hljs-number">0</span> usage#R1#core0#cpu_energy
 + <span class="hljs-number">0</span> usage#R1#core1#L1_size + <span class="hljs-number">0</span> usage#R1#core1#L2_size
 + <span class="hljs-number">0</span> usage#R1#core1#cpu_time + <span class="hljs-number">0</span> usage#R1#core1#numCores
 + <span class="hljs-number">0</span> usage#R1#core1#cpu_energy + <span class="hljs-number">0</span> usage#R1#RAM#used
 + <span class="hljs-number">0</span> usage#R1#RAM#size + <span class="hljs-number">0</span> usage#R1#Network#bandwidth
 + <span class="hljs-number">0</span> usage#R1#Network#address + <span class="hljs-number">0</span> usage#R1#HDD#size
 + <span class="hljs-number">0</span> usage#R1#HDD#throughput_w + <span class="hljs-number">0</span> usage#R1#HDD#used
 + <span class="hljs-number">0</span> usage#R1#HDD#throughput_r + CopyScalingFile1#response_time
 + Scaling#response_time

<span class="hljs-keyword">Subject</span> <span class="hljs-keyword">To</span>
<span class="hljs-label"> single1:</span> + Scaling#response_time &lt;= <span class="hljs-number">80000</span>
<span class="hljs-label"> list2:</span>
 + <span class="hljs-number">503</span>,<span class="hljs-number">1</span> b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 + <span class="hljs-number">503</span>,<span class="hljs-number">2</span> b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + <span class="hljs-number">253</span>,<span class="hljs-number">3</span> b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 - usage#R1#core0#frequency = <span class="hljs-number">0</span>
<span class="hljs-label"> list3:</span>
 + <span class="hljs-number">503</span>,<span class="hljs-number">1</span> b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 + <span class="hljs-number">503</span>,<span class="hljs-number">2</span> b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + <span class="hljs-number">253</span>,<span class="hljs-number">3</span> b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 - usage#R1#core1#frequency = <span class="hljs-number">0</span>
<span class="hljs-label"> list4:</span>
 + <span class="hljs-number">53</span>,<span class="hljs-number">1</span> b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 + <span class="hljs-number">53</span>,<span class="hljs-number">2</span> b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + <span class="hljs-number">53</span>,<span class="hljs-number">3</span> b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 - usage#R1#RAM#free = <span class="hljs-number">0</span>
<span class="hljs-label"> list5:</span>
 + b#org_haec_app_copyFile_scaling_CopyFileScalingImpl#simpleGetFile#R1
 - CopyScalingFile1#response_time = <span class="hljs-number">0</span>
<span class="hljs-label"> list6:</span>
 + <span class="hljs-number">825</span>,<span class="hljs-number">75432320151</span> b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 + <span class="hljs-number">720</span>,<span class="hljs-number">434261795551</span> b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + <span class="hljs-number">1552</span>,<span class="hljs-number">11847072951</span> b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 - Scaling#run_time = <span class="hljs-number">0</span>
<span class="hljs-label"> list7:</span> + b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 + b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 - Scaling#utility = <span class="hljs-number">0</span>
<span class="hljs-label"> eq8:</span>
 + b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 + b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1 = <span class="hljs-number">1</span>
<span class="hljs-label"> eq9:</span> - b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 - b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 - b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 + b#org_haec_app_copyFile_scaling_CopyFileScalingImpl#simpleGetFile#R1
 = <span class="hljs-number">0</span>
<span class="hljs-label"> stc_responseTimeScaling10:</span>
 + <span class="hljs-number">825</span>,<span class="hljs-number">75432320151</span> b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 + <span class="hljs-number">720</span>,<span class="hljs-number">434261795551</span> b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 + <span class="hljs-number">1552</span>,<span class="hljs-number">11847072951</span> b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 + Scaling##startTime - Scaling#response_time = <span class="hljs-number">0</span>

<span class="hljs-keyword">Bounds</span>
 <span class="hljs-number">0</span> &lt;= b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1 &lt;= <span class="hljs-number">1</span>
 <span class="hljs-number">0</span> &lt;= b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1 &lt;= <span class="hljs-number">1</span>
 <span class="hljs-number">0</span> &lt;= b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1 &lt;= <span class="hljs-number">1</span>
 <span class="hljs-number">0</span> &lt;= b#org_haec_app_copyFile_scaling_CopyFileScalingImpl#simpleGetFile#R1 &lt;= <span class="hljs-number">1</span>
 <span class="hljs-number">0</span> &lt;= usage#R1#<span class="hljs-number">141.76</span>.<span class="hljs-number">65.160</span>#load1 &lt;= <span class="hljs-number">164</span>
 <span class="hljs-number">0</span> &lt;= usage#R1#<span class="hljs-number">141.76</span>.<span class="hljs-number">65.160</span>#load5 &lt;= <span class="hljs-number">110</span>
 <span class="hljs-number">0</span> &lt;= usage#R1#<span class="hljs-number">141.76</span>.<span class="hljs-number">65.160</span>#load15 &lt;= <span class="hljs-number">83</span>
 <span class="hljs-number">0</span> &lt;= usage#R1#RAM#free &lt;= <span class="hljs-number">95</span>

<span class="hljs-keyword">Generals</span>
 b#org_haec_app_scaling_ffmpeg_ScalingFfmpeg#scaleFfmpeg1#R1
 b#org_haec_app_scaling_mencoder_ScalingMencoder#scaleMencoder1#R1
 b#org_haec_app_scaling_handbrake_ScalingHandbrake#scaleHandbrake1#R1
 b#org_haec_app_copyFile_scaling_CopyFileScalingImpl#simpleGetFile#R1

<span class="hljs-keyword">End</span>
</code></pre>
</div>
</script>

<script src="{% static 'require.js' %}" data-main="/static/dashboard"></script>

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-slider.min.css' %}">
<link rel="stylesheet" href="{% static 'sysicons.css' %}" />
<link rel="stylesheet" href="{% static 'highslide.css' %}" />
<link rel="stylesheet" href="{% static 'demoplots/ilpstyles.css' %}" />
{% endblock %}

{% block morenavbar %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="#" data-toggle="collapse" data-target="#settingsBox" aria-expanded="false" aria-controls="settingsBox">Settings</a></li>
</ul>
{% endblock %}

{% block content %}
<!-- <div class="page-header"><h1>Haec-Cubie Dashboard</h1></div> -->

{# Dummy Dialog for situation recognition etc. #}

<div id="testChart"></div>
<div class="modal fade" id="alarmContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Critical Situation</h4>
      </div>
      <div class="modal-body">
        
        <div class="alert alert-danger" role="alert">
            <h4>Situation Recognizer detected: Peak usage or DoS attack imminent!</h4>
        </div>
        
        <h5>Choose an Action</h5>
        <table class="table">
          <tr>
            <th colspan="3">Minimal Power consumption</th>
          </tr>
          <tr>
            <td>43.7W</td>
            <td>33.8W</td>
            <td>27.2W</td>
          </tr>
          <tr>
            <td><button type="button" class="btn btn-default" data-dismiss="modal">Power up All</button></td>
            <td><button type="button" class="btn btn-default" data-dismiss="modal">10s drop connection</button></td>
            <td><button type="button" class="btn btn-primary" data-dismiss="modal">disable affected</button></td>
          </tr>
         
        </table>
        <button type="button" class="btn btn-primary btn-sm"></button> ... suggested using PMC trade-offs
        
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="collapse row" id="settingsBox">

  {# ########### migration strategy change form ###################### #}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	    <h3 class="panel-title">Change Migration Strategy</h3>
	  </div>
      <div class="panel-body">
	    <form id="changeMigrationForm" role="form" onsubmit="$('#submit').click(); return false;" style="padding: 0 30px;">
	      <div class="form-group">
	        {% for optStrategy in optStrategies %}
	          <label class="radio">
                {# don't show the disabled strategy in the dashboard #}
                {% if optStrategy != "Disabled" %}
  	              {%if optStrategy == currentStrategyName %}
  	              <input type="radio" name="optStrategy" value="{{optStrategy}}" checked="checked" />{{optStrategy}}
  	              {% else %}
  	              <input type="radio" name="optStrategy" value="{{optStrategy}}" />{{optStrategy}}
  	              {% endif %}
                {%endif %}
	          </label>
	        {%endfor%}
	      </div>
	      <div class="form-group">
	        <button id="changeMigrationFormSubmit" type="button" class="btn btn-default">Change Strategy</button>
	      </div>
	    </form>
	    {# status message placeholder that will be displayed when the changed-button is hit #}
	    <div id="migrationChangedMessage" class="hidden alert alert-info" role="alert"></div>
	  </div>
    </div>
  </div>
  <div class="col-sm-8">
  {# ######### Load Generation ################ #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Load Generation Configuration (Workloadgenerator)</h3>
      </div>
      <div class="panel-body">
	    <form role="form" class="form-horizontal" action="#">
	      <div class="col-sm-6">
		  <div id="infoErrorWlgenConnection" class="alert alert-warning hidden">Error connecting to the workload generator.<br />
			 Did you <a href="{% url 'views.configuration.show'%}">configure?</a></div>
	      <table class="table">
			<tr><td>Interval</td><td class="text-right" id="wlgenInfo_interval">0</td></tr>
			<tr><td>Running Requests</td><td class="text-right" id="wlgenInfo_currentReqs">0</td></tr>
          </table>
          </div>
          <div class="col-sm-6">
	      <div class="form-group">
	          <label for="requestsPerHourSlider" class="col-sm-4 control-label">RpH</label>
	          <div class="col-sm-8 slider-fullwidth">
	              <input type="text" class="form-control" id="requestsPerHourSlider" data-slider-value="0" 
	               data-slider-min="1" data-slider-max="7200"
	               data-slider-orientation="horizontal" />
	              <div id="rphValue">
	                0
	              </div>
	          </div>
	      </div>
	      <div class="form-group">
	          <label class="col-sm-4 control-label" for="loadShape">Load Shape</label>
	          <div class="col-sm-8">
	              <label class="radio-inline" for="loadShapeFlat">
	                  <input type="radio" name="loadShape" id="loadShapeFlat" value="flat" checked="checked">
	                  Flat
	              </label>
	              <label class="radio-inline" for="loadShapeSine">
	                  <input type="radio" name="loadShape" id="loadShapeSine" value="sine">
	                  Sine
	              </label>
	          </div>
	      </div>
	      <div id="sineOptionGroups" class="hidden">
	        <div class="form-group">
	          <label class="col-sm-4 control-label" for="period">Sine Period</label>
	          <div class="col-sm-8 slider-fullwidth">
	            <input type="text" class="form-control" id="period" data-slider-value="0" 
	                data-slider-min="10" data-slider-max="3600"
	                data-slider-orientation="horizontal" />
	            <div id="periodValue">
	              0
	            </div>
	          </div>
	        </div>
	        <div class="form-group">
	          <label class="col-sm-4 control-label" for="variance">Sine Variance</label>
	          <div class="col-sm-8 slider-fullwidth">
	            <input type="text" class="form-control" id="variance" data-slider-value="0" 
	                data-slider-min="0" data-slider-max="1" data-slider-step=0.01
	                data-slider-orientation="horizontal" />
	            <div id="varianceValue">
	              0
	            </div>
	          </div>
	        </div>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <h3>System Load/Power Consumption</h3>
      <div id="loadChart">
      </div>
    </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-7">
    <h3>Workload</h3>
    <div id="workloadChart">
    </div> 
  </div>
  <div class="col-sm-5" >
  <h3>Cluster Status</h3>
      <div id="sysicons"></div>
  </div>
  
</div>

{% endblock %}
