{% extends "template.html" %}
{% load staticfiles %}

{% block morehead %}
<script src="{% static 'require.js' %}" data-main="/static/common"></script>
{% endblock %}

{% block content %}
<h1>System Status</h1>

<h2>Environment</h2>
<div class="row">
<div class="col-sm-12">
<table class="table">
        
  <tr>
    <td>System start</td><td>{{systemstart_time}} (uptime: {{system_uptime}} seconds)</td>
  </tr>
  <tr>
    <td>Heartbeat</td><td>interval: {{cfg.heartbeat_interval}}, timeout: {{cfg.heartbeat_timeout}}</td>
  </tr>
  <tr>
    <td>Webserver Port</td><td>{{cfg.webserver_port}}</td>
  </tr>
  <tr>
    <td>Websocket Port</td><td>{{cfg.websocket_port}}</td>
  </tr>
  <tr>
    <td>Auto-Optimization</td><td>active: every {{cfg.opt_runinterval}} seconds (0 == inactive)</td>
  </tr>
  <tr>
    <td>Database</td><td>url: {{cfg.db_connectionurl}}, echo: {{cfg.db_echo}}, drop/create: {{cfg.db_drop}}/{{cfg.db_create}}</td>
  </tr>
  <tr>
    <td>Sensors</td><td>collect interval: {{cfg.sensor_collectinterval}}, store interval: {{cfg.sensor_bulk_interval}}</td>
  </tr>
  <tr>
    <td>Cambrionix</td><td>url: {{cfg.cambrionix_url}} collect interval: {{cfg.cambrionix_collectinterval}}</td>
  </tr>
  <tr>
    <td>Network Environment</td>
    <td>
    <ul class="list-group">
        <li>Internal IP: {{internal_net}}</li>
        <li>External IP: {{external_net}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td>Slave Portmapping</td><td>
       <ul class="list-group">
       {% for slavename, slave in slave_mapping.items %}
       <li>{{slavename}} : internal: {{slave.internal}}, external: {{slave.external}}</li>
       {% endfor %}
       </ul>
    </td>
  </tr>

</table>
</div> 
</div>
{% endblock %}
