.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@
-webkit-keyframes spin2 {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}
@
keyframes spin {from { transform:scale(1)rotate(0deg);
	
}

to {
	transform: scale(1) rotate(360deg);
}

}
//@
line-height-base {
	
}

.highcharts-container .highcharts-tooltip span {
	overflow: visible;
}

.slider-fullwidth .slider.slider-horizontal {
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}