{% extends "template.html" %}
{% load staticfiles %}
{% load humanize %}
{% block morehead %}
<script src="{% static 'require.js' %}" data-main="/static/common"></script>
{% endblock %}

{% block content %}
<h2>Migration Settings</h2>
<div class="row">
  <div class="container col-sm-6">
     
    <table class="table table-condensed">
            
      <tr>
        <td>Last start and runtime</td><td>not tracked yet</td>
      </tr>
      <tr>
        <td>Current Strategy</td>
        <td>{{currentStrategyName}} 
          <form class="form" role="form" method="POST"
    			action="{% url 'views.opt.changeStrategy' %}">
    			<div class="form-group">
                <label for="optStrategy">Select new strategy</label>				
    			<select name="optStrategy" class="form-control"> 
    			{% for optStrategy in optStrategies %}
      			  {%if optStrategy == currentStrategyName %}
      			    <option value="{{optStrategy}}" selected="selected">{{optStrategy}}</option>
      			  {% else %}
      			    <option value="{{optStrategy}}">{{optStrategy}}</option>
      			  {%endif %}
    			{%endfor%}
    		  </select>
    		</div>
    		<button type="submit" class="btn btn-default">Activate</button>
    	  </form>
    	</td>
        
      </tr>
      <tr>
        <td>Auto-Resurrection:</td><td>
            <form class="form form-inline" method="POST" action="{% url 'views.opt.enableResurrection' %}">
            <div class="form-group">{{resurrection_running}}</div>
            <div class="form-group">
            {% if resurrection_running %}
                <input type="hidden" name="enabled" value="False" />
            {% else %}
                <input type="hidden" name="enabled" value="True" />
            {% endif %}
            </div>
            <button type="submit" class="btn btn-default">toggle</button>
            </form>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
