{% extends "template.html" %} 
{% load staticfiles %} 
{% load humanize %}
{% block morehead %}
<script src="{% static 'require.js' %}"
  data-main="/static/migrationstats"></script>

<script type="text/javascript">

{% autoescape off %}
  var numberMigrations = {{numberMigrations}};
  var nodes = {{nodes}};
  var links = {{links}};
  var popVids = {{popVids}};
  var numUnpopularVids = {{numUnpopularVids}};
  var popThreshold = {{optmodel.videoPopularityThreshold}};
{% endautoescape %}

</script>


<style>
.node rect {
	cursor: move;
	fill-opacity: .9;
	shape-rendering: crispEdges;
}

.node text {
	pointer-events: none;
	text-shadow: 0 1px 0 #fff;
}

.link {
	fill: none;
	stroke: #000;
	stroke-opacity: .2;
}

.link:hover {
	stroke-opacity: .5;
}
</style>

{% endblock %}

{% block content %}
<h2>Migrations Details</h2>
<div class="row">
  
  <div class="container  col-sm-6">
    <h3>Model Parameters</h3>
    <table class="table">
      <tr>
        <td>Average Slave Boot Time</td><td>{{optmodel.bootTime |floatformat:2|intcomma }} seconds</td>
      </tr>
      <tr>
        <td>Recent Hit Period</td><td>{{optmodel.recentHitPeriod}} seconds</td>
      </tr>
      <tr>
        <td>Class-B-Fraction</td><td>{{optmodel.classBVideoFraction}}</td>
      </tr>
      <tr>
        <td>Popularity Threshold (A &gt;=Threshold &gt; B)</td><td>{{optmodel.videoPopularityThreshold}}</td>
      <tr>
        <td>Idle time before shutdown</td><td>{{optmodel.idleTimeBeforeShutdown}} seconds</td>
      </tr>
      <tr>
        <td>Migration Speed</td><td>{{optmodel.initialSpeed}}</td>
      </tr>
    </table> 
  </div>
  <div class="container col-sm-6">
    <h3>Video Popularity Distribution / Threshold</h3>
    <div id="popThresholdChart"></div>
  </div>
  
</div>
<div class="row">
  <div class="container col-sm-4">
    <h3>Recent Video Migrations</h3>
    <div id="migrationChart"></div>
  </div>
</div>
  
{% endblock %}
