{% extends "template.html" %}

{% load staticfiles %}
 
{% block morehead%}
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/jasmine.js" charset="utf-8"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/jasmine-html.js" charset="utf-8"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/boot.js" charset="utf-8"></script>
-->
<link rel="stylesheet" href="{% static 'sysicons.css' %}" />

<script type="text/javascript">
    {%autoescape off%}
    var _initialClusterState = {{initialState}};
    {%endautoescape%}
</script>

<script src="{% static 'sysicons.js' %}"> </script>

<script type="text/javascript">
require(['common'], function(){
require(['sysicons', 'jquery'], function(sysicons){
    $(sysicons.init('#sysicons', _initialClusterState));
});
});

</script>


{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6" id="sysiconcontainer">
		<div id="sysiconsTooltip" class="hidden sysicons-tooltip">
		  <p>asdfasdf</p>
		</div>
			<div id="sysicons"></div>
		</div>
	</div>



{% endblock %}